.flip-card-container {
  width: 100%;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  transform-style: preserve-3d;
  transition: transform 0.8s;
}

.flip-card-container.flipped .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  backface-visibility: hidden;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.flip-card-back {
  transform: rotateY(180deg);
}

.modal-dialog{
    background-color: white !important;
    border-radius: 20px;
    padding: 2%;
}

.login-modal .modal-content {
    margin-top: -500px;
}